<div class="padre">
<h1>INFORMACION DEL SISTEMA</h1>
</div>

<div class="padre">
    <div class="producto">
      
      <p>SistemaOperativo: {{info.SistemaOperativo}}</p>
      <p>VersionDeNode: {{info.VersionNode}}</p>
      <p>MemoriaTotalReservada: {{info.MemoriaTotalReservada}}</p>

      <p>PathDeEjecucion: {{info.PathDeEjecucion}}</p>
      <p>ProcessId: {{info.ProcessId}}</p>
      <p>CarpetaDelProyecto: {{info.CarpetaDelProyecto}}</p>
    </div>
</div>

<div class="padre">
<a href="/">volver al inicio</a>
</div>